# n8n environment variables 
GENERIC_TIMEZONE="Europe/Berlin"
TZ="Europe/Berlin"
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_WEBHOOK_URL=https://insert_your_ngrok_domain_here

# Ngrok environment variables 
NGROK_DOMAIN=insert_your_ngrok_domain_here
NGROK_AUTHTOKEN=get_auth_token_from_account_settings_authtokens